.footer {
    width: 100vw;
    height: 12vh;
    line-height: 50%;
    background-color: gray;
    color: white;
    text-align: center;
    display: flow-root;
    overflow: auto;
    position: relative;
    bottom: 0;
}