#root {
    margin: 0px;
    overflow-y: scroll;
    inline-size: auto;
}

.photo {
    position: center;
    width: 96%;
    height: 30vh;
    object-fit: cover;
    object-position: 60% 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 25px;
    z-index: -1;
    border: 5px solid green;
    overflow-y: auto;
}

html, body {
    min-height: 100%;
}

.form {
    align-self: center;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
      0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    background-color: white;
    padding: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto; 
    display: block;
}

.form_post {
    align-self: center;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
      0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 2px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto; 
    display: block;
    width: 80%;
}

.form1 {
    align-self: center;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
      0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    background-color: white;
    padding: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto; 
    display: block;
    border-radius: 50px 50px 0 0;
}

.button_home {
    background: #5469d4;
    font-family: Arial, sans-serif;
    color: #ffffff;
    border-radius: 4px;
    border: 0;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    text-align: center;
    margin: 0 auto;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
    width: 20%;
    
}
