.course_box2 {
    background: linear-gradient(gray, white 30%); 
    margin: 1%; 
    padding: 2.5%;
    text-align: center;
    justify-content: center;
    align-content: center;
    height: 20vh;
    min-height: 100px;
    display: inline-block;
    width: 24.7%;
    border-radius: 25px;
    border: 5px solid green;
}

.button_user1 {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    cursor: pointer;
    background-color: white !important;
    text-decoration: none !important;
    display: block;
    width: 100%;
    min-width: 240px;
    height: 20px;
  }